#sidebar{

  margin-top:30px;

  margin-left: 0;

  height: 100%;

  width: 250px;

  background: #000000;



}

#footer {
       height: 150px;
       margin-top: 50%;
       color: inherit;
       padding-top: 20px;
       position: absolute;
       width: 100%;
       word-wrap: break-word;
     }

     #footer {
       background-color: #d5f5f5;
       position: sticky;
     }

     /* Lastly, apply responsive CSS fixes as necessary */
     @media (max-width: 500px) {
       #footer {
         margin-left: -20px;
         margin-right: -20px;
         padding-left: 20px;
         padding-right: 20px;
       }
